<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.3">

<name>Veille académique Asie Pacifique</name>

<description>
Application dévéloppée par le bureau Asie - Pacifique dans le but de promouvoir les actions universitaire dans le milieu francophone
</description>

<author href="www.abidjan.net" email="gorbiromaric@gmail.com">
Bureau Asie pacifique
</author>
<preference name="phonegap-version" value="3.3.0" />
<icon src="icon.png" />
<icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="demarrage.png" />
<gap:splash src="demarrage.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="paysage.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
<access origin="*" />
</widget>
